*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),
    url(images/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        height:100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding:30px ;
    }
}
/*---services---*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.services h1{
    color:#b18686;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between ;
}
.service-col{
    flex-basis: 31%;
    background: #fadfdf;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: rgb(47, 20, 60);

}
.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/* blog page*/

.cam{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
.cam-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.cam-col video-container{
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.cam-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*slider*/
.slider {
  position: relative;
  margin-top: 100px;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  


    margin: auto;
    padding: 80px 0;
}

.slides img {
  width: 100%;
  display: none;
}

.slides img.active {
  display: block;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.btn:hover {
  background: rgba(255,255,255,0.8);
  color: #111;
}

.prev { left: 10px; }
.next { right: 10px; }



/* contact*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0, 0.5)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}
/*footer*/
.footer{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    padding: 30px 0 ;
    background: #4a4848;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}
.icons .fa{
    color:#fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/* about page */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(images/banner4.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}
.sub-header h1{
    margin-top: 100px;

}
.sub-header p{
    color: #dcd8d8;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.about-col{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
    
}
.about-col p{
   background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    line-height: 24px;
    margin-right: 50px;
    margin-left: 50px;
}
.team{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.team-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 20px 12px;
    cursor: pointer;
    display: flex;
     box-sizing: border-box;

}
.team-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
} 
.team-col p{
    padding: 0;
    margin-top: 15px;
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*contact page*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #4a4848;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}



